deployment:
  name: waha
  replicas: 1
  image: devlikeapro/waha:latest
  mountName: waha-data
  mountPath: /tmp/.sessions
  runAsNonRoot: false
  env:
    - name: TZ
      value: America/Sao_Paulo
    - name: WHATSAPP_DEFAULT_ENGINE
      value: GOWS
    - name: WHATSAPP_RESTART_ALL_SESSIONS
      value: "true"
    - name: WAHA_DASHBOARD_USERNAME
      value: admin
    - name: WAHA_WORKER_STORE
      value: postgres
    - name: WAHA_WORKER_STORE_POSTGRES_URL
      value: "postgresql://$(POSTGRES_USER):$(POSTGRES_PASSWORD)@$(POSTGRES_HOST):$(POSTGRES_PORT)/waha"
  envSecrets:
    - name: WHATSAPP_API_KEY
      secretKeyRef:
        name: waha-secret
        key: WHATSAPP_API_KEY
    - name: WAHA_DASHBOARD_PASSWORD
      secretKeyRef:
        name: waha-secret
        key: WAHA_DASHBOARD_PASSWORD
    - name: POSTGRES_USER
      secretKeyRef:
        name: postgres-secret
        key: POSTGRES_USER
    - name: POSTGRES_PASSWORD
      secretKeyRef:
        name: postgres-secret
        key: POSTGRES_PASSWORD
    - name: POSTGRES_HOST
      secretKeyRef:
        name: postgres-secret
        key: POSTGRES_HOST
    - name: POSTGRES_PORT
      secretKeyRef:
        name: postgres-secret
        key: POSTGRES_PORT

service:
  internalPort: 3000

ingress:
  host: waha.romeolab.uk

pv:
  name: waha-pv
  path: /var/mnt/data/waha
  storage: 1Gi

pvc:
  name: waha-pvc
  storage: 1Gi
