deployment:
  name: vaultwarden
  replicas: 1
  image: vaultwarden/server:latest
  mountName: vaultwarden-data
  mountPath: /data
  env:
    - name: DOMAIN
      value: "https://vault.romeolab.uk"
  envSecrets:
    - name: ADMIN_TOKEN
      secretKeyRef:
        name: vaultwarden-admin-token
        key: ADMIN_TOKEN
  runAsNonRoot: false
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "256Mi"
      cpu: "200m"

service:
  internalPort: 80

ingress:
  host: vault.romeolab.uk

pv:
  name: vaultwarden-pv
  path: /var/mnt/data/vaultwarden
  storage: 2Gi
  accessModes: ReadWriteOnce

pvc:
  name: vaultwarden-pvc
  storage: 2Gi
  accessModes: ReadWriteOnce
