deployment:
  name: homeassistant
  replicas: 1
  image: homeassistant/home-assistant:latest
  mountName: homeassistant-data
  mountPath: /config
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

service:
  internalPort: 8123

ingress:
  host: homeassistant.romeolab.uk

pv:
  name: homeassistant-pv
  path: /var/mnt/data/homeassistant
  storage: 2Gi
  accessModes: ReadWriteOnce

pvc:
  name: homeassistant-pvc
  storage: 2Gi
  accessModes: ReadWriteOnce
