deployment:
  name: grafana
  replicas: 1
  image: grafana/grafana:latest
  mountName: grafana-data
  mountPath: /var/lib/grafana
  fixPermissions:
    command: "chown -R 472:472 /var/lib/grafana"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"

service:
  internalPort: 3000

ingress:
  host: grafana.romeolab.uk

pv:
  name: grafana-pv
  path: /var/mnt/data/grafana
  storage: 1Gi

pvc:
  name: grafana-pvc
  storage: 1Gi
