apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.deployment.name }}
  labels:
    app: {{ .Values.deployment.name }}
spec:
  replicas: {{ .Values.deployment.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.deployment.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.deployment.name }}
    spec:
      {{- if .Values.deployment.fixPermissions }}
      initContainers:
        - name: fix-permissions
          image: busybox
          command: ["sh", "-c", {{ .Values.deployment.fixPermissions.command }}]
          volumeMounts:
            - name: {{ .Values.deployment.mountName }}
              mountPath: {{ .Values.deployment.mountPath }}
      {{- end }}
      containers:
        - name: {{ .Values.deployment.name }}
          image: {{ .Values.deployment.image }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          env:
            {{- range .Values.deployment.envSecrets }}
            - name: {{ .name }}
              valueFrom:
                secretKeyRef:
                  name: {{ .secretKeyRef.name }}
                  key: {{ .secretKeyRef.key }}
            {{- end }}
            {{- range .Values.deployment.env }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          {{- if .Values.deployment.mountName }}
          volumeMounts:
            - name: {{ .Values.deployment.mountName }}
              mountPath: {{ .Values.deployment.mountPath }}
          {{- end }}
          {{- if not .Values.deployment.disableSecurityContext }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            runAsNonRoot: {{ .Values.deployment.runAsNonRoot }}
            {{- if .Values.deployment.runAsUser }}
            runAsUser: {{ .Values.deployment.runAsUser }}
            {{- end }}
            {{- if .Values.deployment.runAsGroup }}
            runAsGroup: {{ .Values.deployment.runAsGroup }}
            {{ end }}
            seccompProfile:
              type: RuntimeDefault
          {{- end }}
          {{- if .Values.deployment.command }}
          command:
            {{- range .Values.deployment.command }}
            - {{ . | quote }}
            {{- end }}
          {{- end }}
          {{- if .Values.deployment.args }}
          args:
            {{- range .Values.deployment.args }}
            - {{ . | quote }}
            {{- end }}
          {{- end }}
          {{- if .Values.deployment.resources }}
          resources:
            {{- if .Values.deployment.resources.requests }}
            requests:
              {{- if .Values.deployment.resources.requests.memory }}
              memory: {{ .Values.deployment.resources.requests.memory | quote }}
              {{- end }}
              {{- if .Values.deployment.resources.requests.cpu }}
              cpu: {{ .Values.deployment.resources.requests.cpu | quote }}
              {{- end }}
            {{- end }}
            {{- if .Values.deployment.resources.limits }}
            limits:
              {{- if .Values.deployment.resources.limits.memory }}
              memory: {{ .Values.deployment.resources.limits.memory | quote }}
              {{- end }}
              {{- if .Values.deployment.resources.limits.cpu }}
              cpu: {{ .Values.deployment.resources.limits.cpu | quote }}
              {{- end }}
            {{- end }}
          {{- end }}
      {{- if .Values.deployment.mountName }}
      volumes:
        - name: {{ .Values.deployment.mountName }}
          persistentVolumeClaim:
            claimName: {{ .Values.pvc.name }}
      {{- end }}
