deployment:
  name: typebot-viewer
  replicas: 1
  image: baptistearno/typebot-viewer:latest
  runAsNonRoot: false
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  env:
    - name: NEXTAUTH_URL
      value: "https://typebot.romeolab.uk"
    - name: NEXT_PUBLIC_VIEWER_URL
      value: "https://bot.romeolab.uk"
  envSecrets:
    - name: DATABASE_URL
      secretKeyRef:
        name: typebot-secret
        key: DATABASE_URL
    - name: ENCRYPTION_SECRET
      secretKeyRef:
        name: typebot-secret
        key: ENCRYPTION_SECRET
    - name: NEXTAUTH_SECRET
      secretKeyRef:
        name: typebot-secret
        key: NEXTAUTH_SECRET

service:
  internalPort: 3000

ingress:
  host: bot.romeolab.uk
